<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static' , filename='main.css')}}">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css"
            crossorigin="anonymous"
    />

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.css">

    <title>{% block title %}Home{% endblock %}</title>

    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <img src="/static/images/LuxuryWheelsIcon.png" alt="Logo">
            </a>
        </div>
        <form method="post" action="{{url_for('vehicle_list.vehicles')}}"
              id="content">
            <input type="text" name="search-input"
                   class="input-search"
                   id="search-input">
            <button type="reset" class="search" id="search-btn"></button>
        </form>
        <div class="dropdown">
            <div class="container" onclick="myFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div class="menu">
                <a class="menuItems nav-link" id="home" href="/">Home</a>
                <a class="menuItems nav-link" id="vehicles" href="/vehicles">Vehicles</a>
                {% if user.is_authenticated %}
                <a class="menuItems nav-link" id="profile"
                   href="/profile">Profile</a>
                <a class="menuItems nav-link" id="rentals"
                   href="/rentals">Rentals</a>
                {%if user.user_type == 'admin'%}
                <a class="menuItems nav-link" id="admin"
                   href="/add_vehicle">Add vehicle</a>
                {%endif%}
                <a class="menuItems nav-link" id="logout"
                   href="/logout">Logout</a>
                {% else %}
                <a class="menuItems nav-link" id="login"
                   href="/login">Login</a>
                <a class="menuItems nav-link" id="signUp"
                   href="/sign-up">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>

</head>
<body>


{% with messages = get_flashed_messages(with_categories=true) %}

{%if messages%}
{% for category, message in messages %}
{% if category == 'error'%}
<div class="alert alert-danger alert-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-success alert-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endfor %}
{%endif%}
{% endwith %}
<div class="body-list-container">
    {% block content %}


    {%endblock%}

</div>

<!--Script para a animação do menu!-->
<script>
    function myFunction(x) {
        var y = x.nextElementSibling;
        x.classList.toggle("change");
        y.classList.toggle("show");
    }


</script>
<script>
    const input = document.getElementById("search-input");
    const searchBtn = document.getElementById("search-btn");

    const expand = () => {
      searchBtn.classList.toggle("close-search");
      input.classList.toggle("square");
    };

    searchBtn.addEventListener("click", expand);
</script>
<!-- Scripts base do boostrap !-->
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>

</body>

</html>