{% extends "base.html" %}
{% block title %}Rent Vehicle{% endblock %}

{% block content %}
<div class="vehicle-box">
    <div class="vehicle-image">
        <img src="{{ vehicle.image_path }}" alt="{{ vehicle.brand }} {{ vehicle.model }} {{ vehicle.year }}"
             class="centered-image">
    </div>
    <div class="vehicle-info">
        <div class="vehicle-title">
            <h1>{{vehicle.brand}} {{vehicle.model}} {{vehicle.year}}</h1>
        </div>
        <div class="vehicle-details">
            <div class="vehicle-grid">
                <div class="vehicle-column">
                    <br>
                    <h2 class="bold-text">Specifications:</h2>
                    <br>
                    <p class="small-text">Mileage:</p>
                    <p class="bold-text">{{ vehicle.mileage }} km</p>
                    <p class="small-text">Vehicle Type:</p>
                    <p class="bold-text">{{ vehicle.vehicle_type }}</p>
                    <p class="small-text">Capacity:</p>
                    <p class="bold-text">{{ vehicle.capacity }}</p>
                    <p class="small-text">Transmission:</p>
                    <p class="bold-text">{{ vehicle.transmission }}</p>
                    <!-- horsepower TOD
                    <p class="small-text">Daily Value:</p>
                    <p class="bold-text">{{ vehicle.daily_value }} €</p> -->
                </div>
                <div class="vehicle-column">
                    <p class="small-text" style="margin-top: 96px;">Fuel Type:</p>
                    <p class="bold-text">{{ vehicle.fuel_type }}</p>
                    <p class="small-text">Color:</p>
                    <p class="bold-text">{{ vehicle.color }}</p>
                    <p class="small-text">Condition:</p>
                    <p class="bold-text">{{ vehicle.condition }}</p>
                    <p class="small-text">Number of Doors:</p>
                    <p class="bold-text">{{ vehicle.num_doors }}</p>
                </div>
            </div>
            <div class="vehicle-order">
                <h2>Order This Car</h2>
                <p class="daily-text">Total Value:</p>
                <p class="bold-text" style="font-size: 30px;">{{ total_value }} €</p>
                <div id="selectedDates">
                    <div class="date-box">
                        <p>Start Date: <span id="startDate">{{ start_date.day }} {{ months[start_date.month] }}, {{ start_date.year }}</span>
                        </p>
                    </div>
                    <div class="date-box">
                        <p>End Date: <span id="endDate">{{ end_date.day }} {{ months[end_date.month] }}, {{ end_date.year }}</span>
                        </p>
                    </div>
                </div>

                <form action="{{ url_for('renting_page.add_payment_method') }}" method="POST">
                    <div class="form-group">
                        <label for="newPaymentMethod">Payment Method</label>
                        <select id="newPaymentMethod" name="newPaymentMethod" class="form-control"
                                onchange="togglePaymentInput()">
                            <option value="Credit Card">Credit Card</option>
                            <option value="PayPal">PayPal</option>
                        </select>
                    </div>
                    <div class="form-group" id="cardInput">
                        <label for="cardNumber">Card Number</label>
                        <input type="text" id="cardNumber" name="cardNumber" class="form-control">
                    </div>
                    <div class="form-group" id="emailInput" style="display: none;">
                        <label for="paypalEmail">PayPal Email</label>
                        <input type="email" id="paypalEmail" name="paypalEmail" class="form-control">
                    </div>
                    <input type="hidden" name="start_date" value="{{ start_date }}">
                    <input type="hidden" name="end_date" value="{{ end_date }}">
                    <input type="hidden" name="vehicle_id" value="{{ vehicle.id }}">
                    <input type="hidden" name="total_value" value="{{ total_value }}">
                    <button type="submit" class="btn btn-primary">Add Payment Method</button>
                </form>

                <form action="{{ url_for('renting_page.process_payment') }}" method="POST">
                    <div class="form-group">
                        <label for="paymentMethod">Select Payment Method</label>
                        <select id="paymentMethod" name="paymentMethod" class="form-control" required>
                            {% for payment in payment_methods %}
                            <option value="{{ payment.id }}">{{ payment.method }} - {{ payment.method == 'PayPal' and
                                payment.email or ('**** **** **** ' + payment.card_last_four) }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="hidden" name="paymentAmount" value="{{ total_value }}">
                    <input type="hidden" name="start_date" value="{{ start_date }}">
                    <input type="hidden" name="end_date" value="{{ end_date }}">
                    <input type="hidden" name="vehicle_id" value="{{ vehicle.id }}">
                    <button type="submit" class="btn btn-success">Pay and Rent</button>
                </form>

                <script>
                    // Toggle the payment input based on the selected payment method
                    function togglePaymentInput() {
                        var paymentMethod = document.getElementById('newPaymentMethod').value;
                        var cardInput = document.getElementById('cardInput');
                        var emailInput = document.getElementById('emailInput');
                        // Hide/show the appropriate input fields
                        if (paymentMethod === 'Credit Card') {
                            cardInput.style.display = 'block';
                            emailInput.style.display = 'none';
                        } else if (paymentMethod === 'PayPal') {
                            cardInput.style.display = 'none';
                            emailInput.style.display = 'block';
                        }
                    }
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}
